<div class="container">
	<div *ngIf="error" class="alert alert-warning" role="alert">
		<span class="sr-only">Error:</span> {{ error }}
	</div>

	<div class="text-center"><h3>Angular Chat</h3></div>

	<div class="row justify-content-center">
		<div class="col-sm-4">
			<div class="card border-light mb-3">
				<div class="card-body">
					<h4 class="card-title text-center">Вход</h4>
					<br />

					<form class="form-signin" role="form" #form="ngForm" (submit)="loginWithEmail($event, email.value, password.value)">

						<div class="form-group row">
							<label for="email" class="sr-only">Email</label>
							<div class="col-sm-12">
								<input #email type="email" id="email" class="form-control" placeholder="Email адрес" required>
							</div>
						</div>

						<div class="form-group row">
							<label for="password" class="sr-only">Пароль</label>
							<div class="col-sm-12">
								<input #password type="password" id="password" class="form-control" placeholder="Пароль" required>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-12">
								<button class="btn btn-outline-primary btn-block" type="submit" [disabled]="form.invalid">Войти</button>
							</div>
						</div>
					</form>

					<div id="vk_api_transport"><button class="btn btn-primary btn-block" (click)="login()">Войти через ВКонтакте</button></div>
					<hr>

					<!--<a [routerLink]="['/register']" style="cursor: pointer;">Đăng ký ></a>-->
					<button class="btn btn-link btn-block" [routerLink]="['/register']" style="cursor: pointer;">
						Регистрация >
					</button>
				</div>
			</div>
		</div>
	</div>
</div>